


 .main{
   
   position: fixed;
   top: 0%;




    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
      z-index: 50;



 }

 .orangeBack{

display: none;
 }


 .first{
  padding: 1em;
     width: 70rem;
    display: flex;
      align-items: center;
      justify-content: space-between;
     z-index: 20;

overflow: hidden;


   
 }

 .first a{
  font-size: var(--navItems);
  display: flex;
  flex-direction: column;
  text-decoration: none;

  
 }






 .firstItem {

      color: var(--orange);
      border-bottom: .2em solid var(--orange);
      padding-bottom: .3em;

 }


 .first a:hover{

    transition: var(--transition);
    transform: scale(.98);
    text-decoration: none;
    border-bottom: .2em solid var(--orange);
    padding-bottom: .2em;


 } 



 .sun{
 
  font-size: var(--navItemSun);
  cursor: pointer;
 }

 .sun:hover{
    color: var(--orange);
  transition: var(--transition);

 }




 .main768 {

display: none;


 }


 .bars {
display: none;

 }



 @media (max-width:70rem) {
.first {
    padding: 1em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;




  }

  .first a {
    font-size: var(--navItems);
    text-decoration: none;



  }

  .firstItem {

    color: var(--orange);
    border-bottom: .2em solid var(--orange);
    padding-bottom: .3em;

  }


  .first a:hover {

    transition: var(--transition);
    transform: scale(.98);
    text-decoration: none;
    border-bottom: .2em solid var(--orange);
    padding-bottom: .2em;
  }


  .sun {

    font-size: var(--navItemSun);
    cursor: pointer;
   
  }
 }





@media (max-width:48rem) {
.main {

display: none;



  }

.orangeBack {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100vh;
  display: flex;
z-index: 100;

}


.main768 {

  position: fixed;
  top: 0%;
  right: 0%;
  min-height: 100vh;



  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 50;

  background-color: var(--black);
  color: var(--white);
/* background-color: red; */

}


.bars {
  display: flex;
  position: fixed;
  top: 4%;
  right: 3%;
  z-index: 200;
  transform-origin: center;
  color: var(--white);
  font-size: var(--navBarVertical);



}




.main768 .first {

  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;

  margin-left: 1em;


}

 .firstItem {

   color: var(--white);
   border: none;
   padding-bottom: .3em;

 }

.main768 .first a {
  padding: 1em;
  font-size: var(--navItems);
  text-decoration: none;
  color: var(--white);

width: 90%;

}




}













@media (max-width:30rem) {
  .main {

    display: none;



  }

  .main768 {

    position: fixed;
    top: 0%;
    right: 0%;
    min-height: 100vh;



    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 50;

    background-color: var(--black);
    color: var(--white);


  }


  .bars {
    display: flex;
    position: fixed;
    top: 4%;
    right: 4%;
    z-index: 200;
    transform-origin: center;
    color: var(--white);
    font-size: var(--navBarVertical);

  }


  .main768 .first {

    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 20;

    margin-left: 1em;


  }

  .main768 .first a {
    padding: 1em;
    font-size: var(--navItems);
    text-decoration: none;
    color: var(--white);

    width: 100%;

  }






  .main768 .sun {

    font-size: var(--navItemSun);
  
  }




}

